apiVersion: v1
kind: Secret
metadata:
    name: acr-secret
    namespace: {{ k8s_namespace }}
type: kubernetes.io/dockerconfigjson
data:
    .dockerconfigjson: "{{ lookup('template', 'dockerconfig.json.j2') | to_json | b64encode }}"